﻿<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form method = "POST" action = "/map/connections/set/">
        {% csrf_token %}
        mapid: <input type = "text" name = "mapid"><br>
        connections: <input type = "text" name = "connections"><br>
        <input type = "submit" value = "Submit">
    </form>
</body>
</html>