<html>
<head>
	<title>Monster Play</title>
    {% load staticfiles %}
	<script type = "text/javascript" src = "{% static 'js/utils.js' %}"></script>
    <script type = "text/javascript" src = "{% static 'js/jquery-1.11.1.min.js' %}"></script>
    <script type = "text/javascript" src = "{% static 'js/jquery.scrollTo.js' %}"></script>
	<script type = "text/javascript" src = "{% static 'js/jquery.matrix.js' %}"></script>
    <script type = "text/javascript" src = "{% static 'js/underscore.js' %}"></script>
    <script type = "text/javascript" src = "{% static 'js/backbone.js' %}"></script>
    <script type = "text/javascript" src = "{% static 'js/backbone-relational.js' %}"></script>
    <script type = "text/javascript" src = "{% static 'js/game.js' %}"></script>
	<script type = "text/javascript">
		$(function() {
			Monster.start();
		});
	</script>
    <link rel = "stylesheet" type = "text/css" href = "{% static 'css/global.css' %}" />
</head>
<body>
	<script type = "text/template" id = "menuTemplate">
		<ul>
			<% _.each(entries, function(entry, index) {
				print("<li value = '{0}'><span>{1}</span></li>".format(index, entry.text));
			}); %>
		</ul>
	</script>
	<script type = "text/template" id = "menuEntryMonstersTemplate">
		<h3>My Monsters</h3>
		<%
			_.each(monsters, function(monster, index) {
				print(("<div class = 'slot' slot = '{0}'><div class = 'name'>{1}</div>" +
					   "<div class = 'level'>Level {2}</div><div class = 'health'>{3} / {4}</div></div>").format(
					  		index, monster.get("name"),
							monster.get("level"), monster.get("health"), monster.getMaxHealth()
					))
			});
		%>
	</script>
	<script type = "text/template" id = "fightSceneTemplate">

		<div class = 'left_dialog'>
			<div class = "blank">
				<span class = "matrix">What will <span class = "monster_name"><%= fighting_monster.get("name") %></span> do ?</span>
			</div>
			<div class = "fight hide">

			</div>
			<div class = "run hide">
				<span class = "success matrix">You have successfully escaped ...</span>
				<span class = "failed matrix">You cant escape!</span>
			</div>
		</div>
		<div class = 'right_dialog'>
			<table>
				<tr>
					<td><span class = "entry">FIGHT</span></td>
					<td><span class = "entry">BACKPACK</span></td>
				</tr>
				<tr>
					<td><span class = "entry">MONSTERS</span></td>
					<td><span class = "entry">RUN</span></td>
				</tr>
			</table>
		</div>
		<div class = "fight_dialog">
			<div class = "abilities">
				<span class = "entry" data-ability-id = '<%= fighting_monster.get("abilities").at(0).id %>'>
					<%= fighting_monster.get("abilities").at(0).get("ability").get("name") %>
				</span>
				<%
					if(fighting_monster.get("abilities").length > 1) {
						print("<span class = 'entry' data-ability-id = '{1}'>{0}</span>".format(
							fighting_monster.get("abilities").at(1).get("ability").get("name"),
							fighting_monster.get("abilities").at(1).id
						));
					}
				%>
				<%
					if(fighting_monster.get("abilities").length > 2) {
						print("<span class = 'entry' data-ability-id = '{1}'>{0}</span>".format(
							fighting_monster.get("abilities").at(2).get("ability").get("name"),
							fighting_monster.get("abilities").at(2).id
						));
					}
				%>
				<%
					if(fighting_monster.get("abilities").length > 3) {
						print("<span class = 'entry' data-ability-id = '{1}'>{0}</span>".format(
							fighting_monster.get("abilities").at(3).get("ability").get("name"),
							fighting_monster.get("abilities").at(3).id
						));
					}
				%>
			</div>
			<div class = "ability_properties">

			</div>
		</div>
	</script>
	<div id = "windowWrapper">
		<div id = "windowView">
		</div>
	</div>
</body>
</html>
