<html>
	<head>
		<title>Logowanie</title>
	</head>
	<body>
        <div class = "absolute">
            {% if error %}
            <span class = "error">{{ error }}</span>
            {% endif %}
            <form method = "POST">
                {% csrf_token %}
                <label for = "username">Uzytkownik: </label><input type = "text" name = "username"><br>
                <label for = "password">Haslo: </label><input type = "password" name = "password"><br>
                <input type = "submit" value = "Zaloguj">
            </form>
        </div>
	</body>
</html>