﻿<html ng-app = "mapeditor">
<head>
	<title>Monster Map Editor</title>
	{% load staticfiles %}
	<script type = "text/javascript" src = "{% static 'js/utils.js' %}"></script>
	<script type = "text/javascript" src = "{% static 'js/jquery-1.11.1.min.js' %}"></script>
	<script type = "text/javascript" src = "{% static 'js/jquery-ui.min.js' %}"></script>
	<script type = "text/javascript" src = "{% static 'js/underscore.js' %}"></script>
	<script type = "text/javascript" src = "{% static 'js/backbone.js' %}"></script>
	<script type = "text/javascript" src = "{% static 'js/backbone-relational.js' %}"></script>
	<script type = "text/javascript" src = "{% static 'js/mapeditor.js' %}"></script>
	<script type = "text/javascript">
	$(function() {
		Mapeditor.start();
	});

	document.oncontextmenu = function(event) {
		return false;
	};
	</script>
	<link rel="stylesheet" href="{% static 'css/mapeditor.css' %}">
	<link rel="stylesheet" href="{% static 'css/windows.css' %}">
	<link rel = "stylesheet" href = "{% static 'css/entities.css' %}">

	<!-- jQuery UI -->
	<link rel = "stylesheet" href = "{% static 'css/jquery-ui.css' %}">
	<link rel = "stylesheet" href = "{% static 'css/jquery-ui.theme.css' %}">
	<link rel = "stylesheet" href = "{% static 'css/jquery-ui.structure.css' %}">
	<link rel = "stylesheet" href = "{% static 'css/theme.css' %}">
	<!-- /jQuery UI -->
</head>
<body>
	{% verbatim %}
	<div id="windowsWrapper">
		<div id = "tabs"></div>
		<div id = "windows"></div>
	</div>

	<script type = "text/template" id = "mapEditTemplate">
		<div class = "settings">
			<div class = "tabs">
				<div class = "tab">Opcje mapy</div>
				<div class = "tab">Powiązane pokoje</div>
				<div class = "tab">Monsters</div>
			</div>
			<div class = "content">
				<div class = "tab active">
					<p class = "title">Opcje mapy</p>
					<p>
						Warstwa: <span class = "showLayer">0</span>
						<input type = "button" class = "upperLayer" value = "˄"> <input type = "button" class = "lowerLayer" value = "˅">
					</p>
					<p><input type = "checkbox" class = "showAllLayers">
						Pokaz wszystkie warstwy
					</p>
					<p><input type = "checkbox" class = "showMoveMask">
						Pokaż maskę ruchu
					</p>
					<p><input type = "button" class = "removeLayer" value = "Usuń warstwe"></p>
					<p><input type = "button" class = "save" value = "Zapisz"></p>
					<p><input type = "button" class = "createMapImage" value = "Stwórz obraz mapy"></p>
				</div>
				<div class = "map_only">
					<div class = "tab">
						<p class = "title">Powiązane pokoje</p>
						<p class = "norooms">-- Brak --</p>
						<div class = "roomlist"></div>
						<p><input type = "button" class = "create_room" value = "Stworz Pokoj"></p>
						<p><input type = "button" class = "add_room" value = "Dodaj pokoj"></p>
					</div>
				</div>
				<div class = "tab">
					<p>Szansa na walke: <input type = "number" min = "0" max = "100" class = "encounter_chance"></p>
					<p>Typ: <select class = "encounter_type">
						<option value = "grass">Trawa</option>
						<option value = "water">Woda</option>
					</select></p>

					<table class = "encounters">
						<thead>
							<tr><td>Monster</td><td>Min. level</td><td>Max. level</td><td>Frequency</td><td>Chance</td></tr>
						</thead>
						<tbody></tbody>
					</table>
					<p><input class = "add_encounter" type = "button" value = "Dodaj starcie"></p>
				</div>
			</div>
		</div>
		<div class = "world"></div>
	</script>
	<script type = "text/template" id = "mapTemplate">
		<div class = "coords"><%= x %>, <%= y %></div>

		<div class = "name active">
			<span><%= name %></span>
		</div>

		<div class = "editKeyName">
			Key name: <input type = "text">
		</div>

		<div class = "editName">
			Nazwa: <input type = "text">
		</div>

		<div class = "sizex"><%= sizex %></div>
		<div class = "sizey"><%= sizey %></div>
		<div class = "resize"></div>
	</script>
	<script type = "text/template" id = "generalMapTemplate">
		<div id = "topMeasureView"></div>
		<div id = "leftMeasureView"></div>
		<div id = "mapsView"></div>

		<div id = "mapmenu">
			<button class = "addMap">Dodaj mape</button>
			<button class = "removeMap">Usuń mape</button>
		</div>
	</script>
	<script type = "text/template" id = "mapSelectionTemplate">
		<div class = "coords"></div>
		<div class = "sizex"></div>
		<div class = "sizey"></div>
	</script>
	<script type = "text/template" id = "roomLineTemplate">
		<p>(<%= id %>) <%= name %> (<%= sizex %>, <%= sizey %>)</p>
		<p><input type = "button" class = "edit" value = "Edytuj">
		<input type = "button" class = "remove" value = "Usun pokoj">
		<input type = "button" class = "removeLink" value = "Usun przynaleznosc"></p>
	</script>
	<script type = "text/template" id = "modalAddRoomTemplate">
		<p>Wybierz pokoj:</p>
		<select id = "roomsList"></select>
	</script>
	<script type = "text/template" id = "modalCreateRoomTemplate">
		<p class = "error"></p>
		<table>
			<tr>
				<td>Typ:</td>
				<td>
					<select class = "input_type">
						<option value = "room">Room</option>
						<option value = "cave">Cave</option>
					</select>
				</td>
			</tr>
			<tr>
				<td>Nazwa:</td>
				<td><input type = "text" class = "input_name"></td>
			</tr>
			<tr>
				<td>Bazowa nazwa:</td>
				<td><input type = "text" class = "input_keyname"></td>
			</tr>
			<tr>
				<td>Szerokość:</td>
				<td><input type = "number" class = "input_sizex" min = "1"></td>
			</tr>
			<tr>
				<td>Wysokość:</td>
				<td><input type = "number" class = "input_sizey" min = "1"></td>
			</tr>
		</table>
		<p class = "saving" style = "display: none;">Zapisywanie ...</p>
	</script>
	<script type = "text/template" id = "entityPropertiesTemplate">
		<table>
			<thead>
				<tr><td>Nazwa</td><td>Wartość</td></tr>
			</thead>
			<tbody>
					<tr><td>id</td><td><% print(model.id) %></td></tr>
					<tr><td>type</td><td><% print(model.get("type").get("name")) %></td></tr>
					<tr><td>x</td><td><% print(model.get("x")) %></td></tr>
					<tr><td>y</td><td><% print(model.get("y")) %></td></tr>
					<tr><td>z</td><td><% print(model.get("z")) %></td></tr>
					<tr><td>face</td><td><% print("<input type = 'text' property-type = 'basic' name = 'face' value ='{0}'>".format(model.get("face"))) %></td></tr>
				<% _.each(model.get("properties"), function(prop) {
					print("<tr><td>{0}</td><td><input type = 'text' property-type = 'normal' name = '{0}' value ='{1}'></td></tr>".format(prop.key, prop.value));
				}); %>
			</tbody>
		</table>
	</script>
	<script type = "text/template" id = "monsterInMapTemplate">
		<td><select class = 'monster_type'>
			<option value = "0">Brak</option>
			<%
				monsterTypes.each(function(monsterType) {
					print("<option value = '{0}'{2}>{1}</option>".format(
						monsterType.id, monsterType.get("name"),
						monsterType.id == monsterInMap.get('monster').id ? " selected" : ""));
				});
			%>
		</select></td>
		<td><input type = 'number' class = 'min_level' value ='<%= monsterInMap.get("min_level") %>'></td>
		<td><input type = 'number' class = 'max_level' value = '<%= monsterInMap.get("max_level") %>'></td>
		<td><input type = 'number' class = 'frequency' value = '<%= monsterInMap.get("frequency") %>'></td>
		<td class = 'encounter_chance'><% print(Math.round( monsterInMap.getEncounterChance() * monsterInMap.get("scene").get("encounter_ratio") * 100 ) / 100) %>%</td>
	</script>
	<div id = "miniMenu">
		<p>Status: <span id = "status">--</span></p>
		<p><button id="showGeneralMap" onclick = "Mapeditor.openGeneralMap();">Pokaż mapę ogólną</button></p>
	</div>

	<p class = "showButton" data-for = "tiles">
		<span class = "off">&lt;&lt; Wyświetl bloki</span>
		<span class = "on">&gt;&gt; Ukryj bloki</span>
	</p>
	<div id="tiles" class = "sideShow">
		<select class = 'tileset_select'></select>
		<div id="tile_list">
		</div>
	</div>

	<p class = "showButton" data-for = "move_tiles">
		<span class = "off">&lt;&lt; Wyświetl bloki ruchu</span>
		<span class = "on">&gt;&gt; Ukryj bloki ruchu</span>
	</p>
	<div id="move_tiles" class = "sideShow">
		<div id="movemask_list">
		</div>
	</div>

	<p class = "showButton" data-for = "entityTypes">
		<span class = "off">&lt;&lt; Wyświetl typy jednostek</span>
		<span class = "on">&gt;&gt; Ukryj typy jednostek</span>
	</p>
	<div id = "entityTypes" class = "sideShow">
		<div id = "entityTypesList"></div>
	</div>

	<div id = "entityProperties">
	</div>
	{% endverbatim %}
</body>
</html>
