<general-map ng-class = "{ adding: variables.addingMap, deleting: variables.deletingMap }" ng-mousedown = "mousedown($event);" ng-mousemove = "mousemove($event);">
	<div id = "topMeasureView" ng-style = "{ width: variables.mapsWidth }">
		<div id = "topMeasure" ng-style = "{ width: window.offset[0] + variables.mapsWidth + 1000 }">
			<div class = "unit" ng-repeat = "i in gen(0, window.maxWidth / (variables.pixelsPerUnit * 5))" ng-style = "{left: i * variables.pixelsPerUnit * 5}">
				<span ng-if = "$even" ng-style = "{left: -(('' + (i * 5)).length) * 4}">{{::i * 5}}</span>
			</div>
		</div>
	</div>
	<div id = "leftMeasureView" ng-style = "{ height: variables.mapsHeight }">
		<div id = "leftMeasure" ng-style = "{ height: window.offset[1] + variables.mapsHeight + 1000 }">
			<div class = "unit" ng-repeat = "i in gen(0, window.maxHeight / (variables.pixelsPerUnit * 5))" ng-style = "{top: i * variables.pixelsPerUnit * 5}">
				<span ng-if = "$even" ng-style = "{left: -(('' + (i * 5)).length) * 8 - 2}">{{::i * 5}}</span>
			</div>
		</div>
	</div>
	<div id = "mapsView" ng-style = "{
		width: variables.mapsWidth,
		height: variables.mapsHeight
	}">
		<div id = "maps"
			ng-style = "{
				width: variables.mapsWidth + window.offset[0],
				height: variables.mapsHeight + window.offset[1]
			}"
			ng-class = "{ adding: variables.addingMap, deleting: variables.deletingMap }">
			<div class = "map" ng-repeat = "map in variables.maps | filter:notNull" ng-style = "{
				top: map.y * variables.pixelsPerUnit,
				left: map.x * variables.pixelsPerUnit,
				width: map.sizex * variables.pixelsPerUnit,
				height: map.sizey * variables.pixelsPerUnit
			}" ng-class = "{ editing: map.editing, saving: map.saving, removing: map.removing }" ng-click = "deleteMe();">
				<div class = "coords">{{map.x}}, {{map.y}}</div>

				<div class = "name" ng-if = "!map.editing" ng-mousedown = "drag($event); $event.preventDefault();">
					<span ng-click = "openMap(map)">{{map.name}}</span>
				</div>

				<div class = "name" ng-if = "map.editing == 2">
					Key name: <input type = "text" ng-model = "variables.editedMapKeyName" ng-blur = "accepted();" ng-keypress = "accepted($event);">
				</div>

				<div class = "name" ng-if = "map.editing == 3">
					Nazwa: <input type = "text" ng-model = "variables.editedMapName" ng-blur = "accepted();" ng-keypress = "accepted($event);">
				</div>

				<div class = "sizex">{{map.sizex}}</div>
				<div class = "sizey">{{map.sizey}}</div>
				<div class = "resize" ng-mousedown = "resizeStart($event); $event.preventDefault();"></div>
			</div>
		</div>
	</div>
</general-map>
<div id = "mapmenu">
	<button ng-click = "variables.addingMap = true;" ng-disabled = "variables.addingMap">Dodaj mape</button>
	<button ng-click = "variables.deletingMap = true;" ng-disabled = "variables.deletingMap">Usuń mape</button>
</div>
