﻿<canvas world></canvas>
<div class = "settings movable" ng-style = "{ left: window.map.sizex * 32 }">
	<p>Mapa: {{window.map.name}} </p>
	<p>
		Warstwa: {{window.showLayer}}
		<input type = "button" ng-click = "
			window.showLayer = window.showLayer + 1;
			window.map.canvasSetLayersVisibility(window.showLayer);
			window.map.canvasRender();
		" ng-disabled = "window.showLayer >= window.map.tiles.length / ( window.map.sizex * window.map.sizey )" value = "˄">

		<input type = "button" ng-click = "
			window.showLayer = window.showLayer - 1;
			window.map.canvasSetLayersVisibility(window.showLayer);
			window.map.canvasRender();
		" ng-disabled = "window.showLayer <= 0" value = "˅">
	</p>
	<p><input type = "checkbox"
		ng-model = "window.showMoveMask"
		ng-change = "window.map.canvasSetMoveMaskVisibility(window.showMoveMask); window.map.canvasRender();">
		Pokaż maskę ruchu
	</p>
	<p><input type = "button" ng-click = "window.map.removeTiles()" ng-disabled = "" value = "Usuń zaznaczone"></p>
	<p><input type = "button" ng-click = "saveMap(window.map)" value = "Zapisz"></p>
	<p><input type = "button" ng-click = "makeMapImage(window.map)" value = "Stwórz obraz mapy"></p>
</div>
