.enter_scene.n {
    background-position: 0px 0px;
}

.enter_scene.s {
    background-position: -32px 0px;
}

.enter_scene.e {
    background-position: -64px 0px;
}

.enter_scene.w {
    background-position: -96px 0px;
}
