@font-face {
    font-family: 'Monster';
    src: url("/static/fonts/Monster.ttf") format("truetype");
}

body {
    margin: 0;
    position: relative;
    font-family: "Monster", sans-serif;
    font-weight: bold;
}

.player {
    width: 32px;
    height: 64px;
    background-image: url(/static/images/player.png);
    position: absolute;

    transition-property: top, left;
    transition-duration: 0.2s;
}

.player.s {
    background-position: 0px 0px;
}

.player.n {
    background-position: -32px 0px;
}

.player.w {
    background-position: -64px 0px;
}

.player.e {
    background-position: -96px 0px;
}

.player.s.moving {
    background-position: -128px 0px;
}

.player.s.moving.odd {
    background-position: -160px 0px;
}

.player.n.moving {
    background-position: -192px 0px;
}

.player.n.moving.odd {
    background-position: -224px 0px;
}

.player.w.moving {
    background-position: -256px 0px;
}

.player.w.moving.odd {
    background-position: -288px 0px;
}

.player.e.moving {
    background-position: -320px 0px;
}

.player.e.moving.odd {
    background-position: -352px 0px;
}

#windowWrapper {
    position: relative;
    width: 768px;
    height: 768px;
}

#windowView {
    position: absolute;
    width: 768px;
    height: 768px;
    overflow: hidden;
	margin: auto;

	border: 1px solid black;
    background-color: black;
}

.layer
{
	width: 100%;
	height: 100%;
    position: absolute;
}

.world
{
	position: absolute;
}

#fading {
    background-color: black;
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;

    transition: opacity 0.3s;
    opacity: 0;
}

#fading.active {
    opacity: 1.0;
}

#sceneName {
    transition: top 0.3s;
    position: absolute;
    right: 0;
    top: -106px;

    text-align: center;

    background-color: white;

    border: 5px solid black;
    border-radius: 10px;

    padding: 30px;
    z-index: 999;

    max-width: 200px;
    max-height: 106px;
}

#sceneName.show {
    top: 0px;
}

#menu {
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 900;

    font-family: "Monster", sans-serif;
    font-weight: bold;

    background-color: white;
    border: 5px solid black;
    border-radius: 10px;

    padding: 20px;

    display: none;
}

#menu.show {
    display: block;
}

#menu ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#menu ul li {
    margin: 15px 0px;
}

#menu ul li.selected span {
    border-bottom: 3px solid black;
}

#menu-monsters {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 901;
    background-color: rgb(0, 183, 255);
    border: 1px solid black;
}

#menu-monsters h3 {
    color: white;
    text-shadow:
        -1px -1px 0 #000,
         1px -1px 0 #000,
        -1px 1px 0 #000,
         1px 1px 0 #000;

    margin: 20px;
}

#menu-monsters .slot {
    font-size: 15px;
    margin: 30px;
    padding: 10px;
    border: 2px solid black;
    background-color: white;
    border-radius: 5px;
    text-align: right;
}

#menu-monsters .slot.selected {
    background-color: #a6ffaa;
}

#fight-scene {
    position: absolute;
    width: 100%;
    height: 100%;

    z-index: 901;
    background-color: white;
    border: 1px solid black;
}

#fight-scene .hide {
    display: none;
}

#fight-scene .entry.selected {
    border-bottom: 3px solid black;
}

#fight-scene .left_dialog {
    position: absolute;
    width: 100%;
    height: 110px;
    bottom: 0px;

    border: 4px solid black;
    border-radius: 5px;

    box-sizing: border-box;
    padding: 6px;
}

#fight-scene .right_dialog {
    position: absolute;

    width: 300px;
    height: 115px;

    border: 4px solid black;
    border-radius: 5px;

    bottom: 0;
    right: 0;

    background-color: white;
}

#fight-scene .right_dialog table {
    margin: 20px auto;
    font-weight: bold;
}

#fight-scene .right_dialog table td {
    padding: 8px 5px;
}

#fight-scene .fight_dialog {
    position: absolute;
    width: 100%;
    height: 110px;
    bottom: 0px;
    background-color: white;
}

#fight-scene .fight_dialog .abilities {
    width: 70%;
    height: 100%;
    border: 4px solid #b655c5;
    box-sizing: border-box;
    float: left;
    border-radius: 5px;
    position: relative;
}

#fight-scene .fight_dialog .abilities .entry {
    position: absolute;
}

#fight-scene .fight_dialog .abilities .entry:nth-child(1) {
    top: 18.5px;
    left: 25px;
}

#fight-scene .fight_dialog .abilities .entry:nth-child(2) {
    top: 18.5px;
    left: 293.8px;
}

#fight-scene .fight_dialog .abilities .entry:nth-child(3) {
    top: 73.5px;
    left: 25px;
}

#fight-scene .fight_dialog .abilities .entry:nth-child(4) {
    top: 73.5px;
    left: 293.8px;
}

#fight-scene .fight_dialog .ability_properties {
    width: 30%;
    height: 100%;
    border: 4px solid #b655c5;
    box-sizing: border-box;
    float: right;
    border-radius: 5px;
}
