#tile_list, #movemask_list
{
	width: 281px;
	display: inline-block;
}

#miniMenu
{
	position: fixed;
	bottom: 0;
	left: 20px;
	padding: 0px 20px;
	border: 1px solid black;
	border-bottom: none;
	background-color: white;
	z-index: 100;
}

.sideShow
{
	position: fixed;
	top: 60px;
	outline: 1px solid black;
	background-color: white;

	padding: 10px;

	overflow-x: hidden;

	transition: right 1s;

	width: 281px;
	right: -302px;
}

.sideShow.active
{
	right: 0px;
}

.showButton
{
	font-weight: bold;
	position: fixed;

	width: 301px;
	right: 0px;

	background-color: white;
	outline: 1px solid black;

	margin: 0px;
	padding: 10px;

	cursor: pointer;
	box-sizing: border-box;

	z-index: 10;
}

.showButton .on
{
	display: none;
}

.showButton .off
{
	display: inline;
}

.showButton.active .on
{
	display: inline;
}

.showButton.active .off
{
	display: none;
}

.showButton[data-for="tiles"]
{
	top: 20px;
}

#tiles.sideShow
{
	top: 61px;
	z-index: 12;
}

.showButton[data-for="move_tiles"]
{
	top: 70px;
}

#move_tiles.sideShow
{
	top: 111px;
	z-index: 11;
}

.showButton[data-for="entityTypes"]
{
	top: 120px;
}

#entityTypes.sideShow
{
	top: 161px;
	z-index: 10;
}

#entityProperties
{
	position: fixed;
	top: 171px;
	z-index: 9;
	outline: 1px solid black;
	background-color: white;

	padding: 10px;

	overflow-x: hidden;

	transition: right 1s;

	width: 281px;
	right: 0px;
}

#entityProperties table {
	width: 100%;
}

#entityProperties table thead {
	font-weight: bold;
}

#entityProperties table td {
	padding: 3px;
}

.sideShow .block
{
	cursor: pointer;
}

.sideShow .block
{
	margin: 1.5px;
}

.block
{
    width: 32px;
    height: 32px;
    display: inline-block;
}

.block.active
{
	outline: 3px solid red;
}

.movemask.block
{
	color: black;
	font-weight: bold;
	text-align: center;
}

.world
{
	position: relative;
	outline: 1px solid black;
}

.world .layer
{
	position: absolute;
	width: 100%;
	height: 100%;
	display: none;
}

.world .layer.visible {
	display: block;
}

.world .layer.half {
	opacity: 0.4;
}

.world .tile
{
	position: absolute;
}

.world .tile .movemask
{
	display: none;
}

.world.showMoveMask .tile .movemask
{
	display: inline-block;
}

.world .entity {
	position: absolute;
}

.world .entity.selected {
	outline: 2px solid red;
	cursor: move;
}

#generalMap
{
	width: 100%;
	height: 100%;
}

#topMeasureView
{
	position: relative;
	width: 100%;
	height: 40px;
	left: 40px;
	overflow: hidden;
	border-bottom: 1px solid black;
}

#topMeasure
{
	position: relative;
	height: 40px;
	background-color: white;
	z-index: 3;
}

#topMeasure .unit
{
	position: absolute;
	display: inline-block;
	bottom: 0px;
	width: 1px;
	height: 10px;
	background-color: black;
}

#topMeasure .unit span
{
	position: absolute;
	top: -20px;
}

#leftMeasureView
{
	position: relative;
	width: 40px;
	height: 100%;
	top: -1px;
	float: left;
	border-right: 1px solid black;
	overflow:hidden;
}

#leftMeasure
{
	position: relative;
	background-color: white;
	z-index: 3;
}

#leftMeasure .unit
{
	position: absolute;
	display: inline-block;
	right: 0px;
	height: 1px;
	width: 10px;
	background-color: black;
}

#leftMeasure .unit span
{
	position: absolute;
	left: -20px;
	top: -10px;
}

#mapmenu
{
	width: 100%;
	padding: 30px;
	position: absolute;
	bottom: 29px;
	left: 0;
	text-align: center;
	background-color: white;
	border-top: 2px solid black;
	z-index: 2;
}

#mapsView
{
	position: absolute;
	top: 41px;
	left: 41px;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

#maps
{
	position: absolute;
	z-index: 1;
}

#maps.adding
{
	background-color: #8DEC76;
}

#maps.deleting
{
	background-color: #B74848;
}

#maps.adding, #maps.deleting
{
	cursor: pointer;
}

#maps div.selection {
	position: absolute;
	border: 2px solid #746ED2;
	background-color: #B4CDFF;
	opacity: 0.4;
}

#maps div.selection div.coords {
	position: absolute;
	top: 2px;
	left: 2px;
	font-size: 13px;
	font-weight: normal;
	text-align: left;
}

#maps div.selection div.sizex {
	position: absolute;
	bottom: 0px;
	right: 0;
	left: 0;
	font-size: 13px;
	font-weight: normal;
	text-align: center;
}

#maps div.selection div.sizey {
	position: absolute;
	right: 2px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 13px;
	font-weight: normal;
	text-align: right;
}

#maps .map
{
	position: absolute;
	border: 1px solid black;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
	display: table;
	cursor: grab;
	background-color: white;
	box-sizing: border-box;
}

#maps .map.saving
{
	background-color: rgba(209, 209, 209, 0.67);
	color: #878787;
	border-color: #878787;
}

#maps .map.removing
{
	background-color: #B74848;
}

#maps .map.invalid
{
	background-color: red;
}

#maps .map.grabbed
{
	cursor: grabbing;
	z-index: 10;
}

#maps .map div.coords
{
	position: absolute;
	top: 2px;
	left: 2px;
	font-size: 13px;
	font-weight: normal;
	text-align: left;
}

#maps .map div.sizey
{
	position: absolute;
	right: 2px;
	top: 50%;
	transform: translateY(-50%);
	font-size: 13px;
	font-weight: normal;
	text-align: right;
}

#maps .map div.sizex
{
	position: absolute;
	bottom: 0px;
	right: 0;
	left: 0;
	font-size: 13px;
	font-weight: normal;
}

#maps .map div.resize
{
	position: absolute;
	background-color: black;
	width: 10px;
	height: 10px;
	right: 0px;
	bottom: 0px;
	cursor: nw-resize;
	z-index: 2;
}

#maps .map div.name, #maps .map div.editKeyName, #maps .map div.editName
{
	display: none;
}

#maps .map div.name.active, #maps .map div.editKeyName.active, #maps .map div.editName.active
{
	display: table-cell;
	vertical-align: middle;
}

#maps .map div.name span:hover
{
	text-decoration: underline;
	cursor: pointer;
}

.settings
{
	background-color: white;
	border: 1px solid black;
	/padding: 10px;

	position: absolute;
	z-index: 20;
	top: 0;
	left: 0;
	text-align: center;
}

.settings .tabs {
	margin: 10px 7px 0px;
}

.settings .tabs .tab {
	display: inline-block;
	padding: 7px;
	border: 1px solid black;
	border-bottom: none;
}

.settings .content {
	border-top: 1px solid black;
}

.settings .content .tab {
	display: none;
	padding: 10px;
}

.settings .content .tab.active {
	display: block;
}

.settings p {
	margin: 10px;
}

.settings .roomlist {
	margin: 5px;
}

.settings .room {
	border-bottom: 1px solid black;
}

.settings .room:last-child {
	border-bottom: none;
}

.settings table.encounters {
	border-collapse: collapse;
}

.settings table.encounters thead {
	font-weight: bold;
}

.settings table.encounters tbody td {
	padding: 3px;
	border: 1px solid black;
}

#worldMove
{
	position: absolute;
	outline: 3px solid black;
	background-color: lightblue;
	opacity: 0.2;
	top: 0;
	left: 0;
}
