#windows
{
	position: relative;
	display: inline-block;
    overflow: hidden;
	width: 100%;
	height: 100%;
}

#windows > div.window
{
	position: relative;
	width: 100%;
	height: 100%;
	z-index: 1;
	border: 1px solid black;
	display: none;
	overflow: hidden;
}

#windows > div.window.active
{
	display: block;
	z-index: 2;
}

#tabs > div.tab
{
	border: 1px solid black;
	text-align: center;
	padding: 3px 5px;
	display: inline-block;
	background-color: rgb(144, 144, 144);
	color: rgb(78, 78, 78);
	cursor: pointer;
}

#tabs > div.tab div.close
{
	cursor: pointer;
}

#tabs > div.tab.active
{
	background-color: white;
	color: black;
	border-bottom: 1px solid white;
}
